<header>
    <div class="navbar navbar-dark bg-primary shadow-sm">
        <div class="navbar-brand align-item-center d-flex">
            <strong class="main" routerLink="/eventdetails" style="font-size:20px; cursor: pointer;">events</strong>
        </div>
        <div class="d-flex">
            <button routerLink="/login" class="btn btn-primary">Login</button>
            <button routerLink="/signup" class="btn btn-primary mx-3">SignUp</button>
        </div>
    </div>
</header>
<div class="card text-center">
    <div class="card-body">
      <p class="card-text"></p>
    </div>
</div>
<div class="card1">
    <div class="card-body1">
        <h2>Get Started</h2>
        <p class="card-text1">Create an account and start right away. Then you can add your events directly
            to our board and we will do the rest of you. we'll notify you when something is up and help you 
            to keep track with our overview page.
        </p>
    </div>
    <table class="data">
        <tbody>
            
            <tr>
                <th class="hed">Workshop</th>
            </tr>
            <hr>
            <tr>
                <td>Due Date:</td>
            </tr>
            <tr>
                <td>22-12-2022  19:33</td>
            </tr>
            <tr>
                <button routerLink="/eventparticipation" class="btn1 btn-primary mx-1">Register</button>
                <button class="btn1 btn-primary ">Cancel</button>
                
            </tr>
        </tbody>
    </table>
</div>